[package]
name = "sleep"
version = "0.1.0"
authors = ["Eric Shimizu Karbstein <gr41.j4ck@gmail.com>"]
license = "MPL-2.0-no-copyleft-exception"
build = "build.rs"
edition = "2018"
description = """
Suspends execution for a NUMBER of SUFFIX time. SUFFIX can be 'sec' or 's' for seconds, 'min' or \
'm' for minutes, 'hour' or 'h' for hours.
"""

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "^2.33.0", features = ["wrap_help"] }
sugars = "^2.0.0"

[build-dependencies]
clap = "^2.33.0"
