[package]
name = "touch"
version = "0.1.0"
authors = ["Michel Kansou <michel.kansou.vo2group@axa.fr>"]
license = "MPL-2.0-no-copyleft-exception"
edition = "2018"
description = """
Update the access and modification times of each FILE to the current time.

A FILE argument that does not exist is created empty, unless -c or -h is supplied.
A FILE argument string of - is handled specially and causes touch to change the times of the file \
associated with standard output.
"""

[dependencies]
clap = { version = "^2.33.0", features = ["wrap_help"] }
filetime = "~0.2.9"
time = "= 0.2.23"

[build-dependencies]
clap = "^2.33.0"
