[package]
name = "coreutils_core"
version = "0.1.0"
authors = ["GrayJack <gr41.j4ck@gmail.com>"]
edition = "2018"

[dependencies]
libc = { version = "^0.2.64", features = ["extra_traits"] }
regex = "^1"
bstr = "^0.2.8"
time = "~0.1.42"
