name: FreeBSD

on: [push, pull_request]

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [1.40.0, stable]
    steps:
    - uses: actions/checkout@v1
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
    - name: Install target
      run: rustup target add x86_64-unknown-freebsd
    - name: Check FreeBSD
      run: |
        cp FreeBSD.toml Cargo.toml
        cargo check --verbose --target x86_64-unknown-freebsd
